#contact-H{
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  margin: 0;
  color: #c95f1d;
  font-size: 1.8vw;
  font-weight: 800;
}

/* Center the image and position the close button */
.contact-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 0;
  cursor:default;
  justify-content: space-evenly;
  z-index: 1;
}

.contact-infos {
  background-color: #fefefe;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 15px;
  border-radius: 25px;
}

#sub, #connect{
  margin-left:25%;
  margin-right: 25%;
  width: 50%;
}

.cont {
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

/* The Modal (background) */
#ContactPopup {
  display: none; /* Hidden by default */
  justify-content:center;
  align-items: center;
  flex-direction: row;
  align-self: center;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* Modal Content/Box */
.contact-content {
  background-color: #e6b469;
  border: 10px solid #e6b469;
  width: 20%;
  border-radius: 25px;
  display : inline-block;
}

/* The Close Button (x) */
.contact-close {
  color: #c95f1d;
  font-size: 55px;
  padding-bottom: 5px;
}

.contact-close:hover,
.contact-close:focus {
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 1.5s;
  animation: animatezoom 1.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}




#actimg{
  height: 65px;
  width: 65px;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0px;
}

#actimg:active {
  background-color: black;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

#actimg:hover {
  background-color: black;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

.contact-infos{
  text-align: center;
}

.contact-label{
  font-size: 1.2vw;
  font-weight: 800;
  margin-bottom: 10px;
  color: #c95f1d;
}

.contact-if{
  font-size: 1.2vw;
  font-weight: 800;
  color: #c95f1d;
}

.contact{
  font-size: 1.1vw;
  font-weight: 600;
}

.contact-link{
  background-color: #c95f1d;
  color: white;
  border-radius: 25px;
  padding: 5px;
  transition: all 1s;
}

.contact-link:hover{
  background-color: #ff7926;
  transition: all 0.5s;
}




@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1050px) {
  .contact-content {
    width: 55%;
    border-radius: 25px;
    display : inline-block;
  }

  .contact-container{
    margin-bottom: 20px;
  }

  .contact-close {
    font-size: 100px;
  }

  .Contact-Popup{
    justify-content: flex-end;
  }

  #contact-H{
    font-size: 4.8vw;
  }

  .contact-label{
    font-size: 4vw;
  }
  
  .contact-if{
    font-size: 3.5vw;
  }
  
  .contact{
    font-size: 3vw;
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1050px) {
  .contact-content {
    width: 30%;
    border-radius: 25px;
    display : inline-block;
  }
}

