body {
  margin: 0;
  padding: 0;
  background: rgb(255, 223, 176);
  background: linear-gradient(
    180deg,
    rgba(255, 223, 176, 1) 50%,
    rgba(255, 145, 77, 1) 85%
  );
}

.tile h1 {
  font-size: 3vw;
  font-weight: 600;
  color: white;
  text-decoration: double underline;
  text-decoration-thickness: 0.1vw;
}

.tile p {
  font-size: 1.3vw;
  font-weight: 400;
}

.Car__title {
  text-align: center;
  color: #ff7926;
  font-weight: 800;
  font-size: 3vw;
  background-color: white;
  border-radius: 25px;
  width: fit-content;
  margin: auto;
  border: 10px solidwhite;
  padding: 15px;
  margin-top: 15vw;
}

.mainCar__cont {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.img-nav {
  display: flex;
  height: 400px;
  gap: 1em;
  justify-content: center;
}

.tile p[spine] {
  display: block;
  position: absolute;
  z-index: auto;
  font-size: 1.2vw;
  color: black;
  font-family: "Raleway";
  opacity: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
  width: max-content;
}

.tile.selected p[spine] {
  opacity: 0;
  transform: translateY(50px) rotateZ(-90deg);
}

.tile .img {
  opacity: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: 200%;
  background-position: 50% 50%;
  transition: width 1s ease-in-out, height 1s ease-in-out,
    border-radius 1s ease-in-out, margin-bottom 1s ease-in-out;
  position: absolute;
  z-index: auto;
}
.tile.selected .img {
  opacity: 1;
  transition: opacity 0.8s;
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin-bottom: 0;
  aspect-ratio: 16/9;
}

.tile .content {
  position: relative;
  z-index: 1;
  color: black;
  opacity: 0;
  transform: translateX(50px);
  margin-bottom: 1em;
  font-family: "Raleway";
  transition: transform 0.5s ease-in-out;
  padding: 25px;
}
.tile.selected .content {
  opacity: 1;
  transition-delay: 0.8s;
  transition-property: opacity;
  transform: translateX(0);
}

.qst {
  width: 250px;
  object-position: center top;
}

/* Couleurs du caroussel*/
.tile:nth-child(1) .img {
  background-color: #d4641e;
}
.tile:nth-child(2) .img {
  background-color: #ff914d;
}
.tile:nth-child(3) .img {
  background-color: #ff7926;
}
.tile:nth-child(4) .img {
  background-color: #df722ebd;
}

@media only screen and (orientation: portrait) and (min-width: 760px) and (max-width: 1050px) {
  .mainCar__cont {
    display: flex;
    height: 1200px;
    margin: 100px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
  }

  .second{
    height: 800px;
    margin-top: 5vh;
  }

  .img-nav {
    display: flex;
    height: 1200px;
    gap: 0;
    justify-content: center;
    flex-direction: column;
    align-items:center ;

  }
  .tile {
    width: 400px;
    height: 150px;
    min-width: 80px;
    border-radius: 5em;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    transition: height 1s ease-in-out, width 1s ease-in-out,
      border-radius 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow:hidden;
    position: relative;
    align-items: center;
    margin-top: 100px;
  }

  .tile.selected {
    width: 100%;
    height: 100vh;
    border-radius: 3em;
    transition: all 1s;
  }

  .tile p[spine] {
    font-size: 2.7vw;
  }

  .tile h1 {
    font-size: 4vw;
    font-weight: 600;
    color: white;
    text-decoration: double underline;
    text-decoration-thickness: 0.1vw;
    margin-top:30px;
  }

  .tile p {
    font-size: 3vw;
    font-weight: 400;
  }
}

@media (orientation: landscape) and (min-width: 760px) and (max-width: 1050px) {
  .mainCar__cont {
    display: flex;
    height: 1000px;
    margin: 100px;
    margin-top: 0;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }


  .second{
    height: 800px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .img-nav {
    display: flex;
    height: 1000px;
    gap: 0;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
  }
  .tile {
    width: 300px;
    height: 100px;
    min-width: 80px;
    border-radius: 5em;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    transition: height 1s ease-in-out, width 1s ease-in-out,
      border-radius 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 100px;
  }

  .tile.selected {
    width: 100%;
    height: 1200px;
    border-radius: 3em;
    transition: all 1s;
    margin-top: 5vw;
  }

  .tile p[spine] {
    font-size: 2vw;
  }

  .tile h1 {
    font-size: 4vw;
    font-weight: 600;
    color: white;
    text-decoration: double underline;
    text-decoration-thickness: 0.1vw;
  }

  .tile p {
    font-size: 2vw;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1051px) {
  .tile {
    width: 300px;
    height: 80px;
    min-width: 80px;
    border-radius: 5em;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    transition: height 1s ease-in-out, width 1s ease-in-out,
      border-radius 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 100px;
  }

  .tile.selected {
    height: 100%;
    width: 900px;
    border-radius: 3em;
    transition: all 1s;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .tile {
    width: 300px;
    height: 80px;
    min-width: 80px;
    border-radius: 5em;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    transition: height 1s ease-in-out, width 1s ease-in-out,
      border-radius 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    position: relative;
    align-items: center;
  }

  .tile.selected {
    height: 100%;
    width: 700px;
    border-radius: 3em;
    transition: all 1s;
    margin: 20px;
  }

  .tile .content {
    position: relative;
    z-index: 1;
    color: black;
    opacity: 0;
    transform: translateX(50px);
    margin-bottom: 1em;
    font-family: "Raleway";
    transition: transform 0.5s ease-in-out;
    padding: 30px;
    margin-top: 20px;
  }

  .img-nav {
    display: flex;
    height: 400px;
    gap: 1em;
    justify-content: center;
    margin-top: 100px;
  }
}
