#contact-H{
  background-color: #e6b469;
  margin: 0;
  color: black;
  font-size: 25px;
  font-weight: 600;
}

/* Center the image and position the close button */
.contact-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 0;
  cursor:default;
  justify-content: space-evenly;
}

#container1 {
  background-color: #fefefe;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 8px;
  
}

#sub, #connect{
  margin-left:25%;
  margin-right: 25%;
  width: 50%;
}

.cont {
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

/* The Modal (background) */
#ContactPopup {
  display: none; /* Hidden by default */
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  align-self: center;
  position: fixed; /* Stay in place */
  z-index: 0.5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* Modal Content/Box */
.contact-content {
  background-color: #e6b469;
  border: 10px solid #e6b469;
  width: 20%;
  border-radius: 25px;
  display : inline-block;
  margin-right: 10px;
  margin-top: 20px;
}

/* The Close Button (x) */
.contact-close {
  color: #c95f1d;
  font-size: 55px;
  padding-bottom: 5px;
}

.contact-close:hover,
.contact-close:focus {
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 1.5s;
  animation: animatezoom 1.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
#actimg{
  height: 65px;
  width: 65px;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0px;
}

#actimg:active {
  background-color: black;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

#actimg:hover {
  background-color: black;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1050px) {
  .modal-content {
    width: 80%;
    border-radius: 25px;
    display : inline-block;
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1050px) {
  .modal-content {
    width: 80%;
    border-radius: 25px;
    display : inline-block;
  }
}